body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color:#333;
    background-color: #dfe6e9;
    letter-spacing: 1px;
}
.overlay{
    width:100%;
    height:100%;
    position: absolute;
    z-index: 3; 
    background-color: rgba(1, 42, 47, 0.2);
}

.slides-navigation{
    z-index: 6;
}
.slides-container .scale{
    object-fit: scale-down;
}

.slides-navigation .prev,
.slides-navigation .next {
    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation a.prev {
    left: 20px;
    background-image: url(../IMG/Icons/prev.png);
}

.slides-navigation a.next {
    right: 20px;
    background-image: url(../IMG/Icons/next.png);
}

.titlemessage{
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -100px;
}
.titlemessage .heading p{
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.4);
    font-weight: 100;
    letter-spacing: 3px;
}

.titlemessage .heading .main{
    font-size: 40px;
}
.titlemessage .heading .sub{
    font-size: 23px;
}

.section{
    padding: 100px 0;
}

.aboutimage{
    max-width: 100%;
}

.aboutme{
    color: #636e72;
}

.skillsSection,
.contactSection{
    background-color: #7fd6d6;
    color: #fff;
}

.skill{
    text-align: center;
    margin-left: 10px;
}



.chart{
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}

.chart canvas{
    position: absolute;
    left: 0;
    top: 0;
}

.chart .percent{
    color:#636e72;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after{
    content:'%';
}

.statsSection{
    margin-top: 30px;
    margin-bottom: 60px;
}

.squareItem{
    margin-top: 30px;
    position: relative;
}

.squareInnerContainer{
    position: relative;
    padding: 50px 15px 35px;
    text-align: center;
    border: 2px solid #636e72;
    border-top: none;
}

.squareInnerContainer:before,
.squareInnerContainer:after{
    content:'';
    position:absolute;
    top:0px;
    width:30%;
    border-bottom:2px solid #636e72;
}

.squareInnerContainer:before{
    right:0px;
}

.squareInnerContainer:after{
    left: 0px;
}

.squareContent h4{
    font-size: 56px;
    margin: 10px;
    font-weight: 400;
    color: #f1a897;
}
.squareContent h3{
    font-size:13px;
    font-weight: 600;
    margin: 0;
}

.squareIcon{
    position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: #636e72;
}

.contactButton {
    color: #fff;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 3px;
}

.contactButton:hover{
    text-decoration: none;
    color: #f1a897;
    background-color: #fff;
}

.filter a{
    color: #f1a897;
    border: 1px solid #f1a897;
    padding: 10px 18px;
    display: block;
}

.filter li{
    display: inline-block;
    padding: 5px;
}

.filter .current{
    background-color:#f1a897;
    border-color:#f1a897;
    color: #fff;
}

.filter{
    text-align: center;
    width: 100%;
}

.section .heading{
    color: #636e72;
    text-align: center;
    padding-bottom: 40px;
    width: 100%;
}

.items li{
    display: inline-block;
    padding: 5px;
}

.itemsContainer {
    width:100%
}

.items li img{
    width: 100%;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item{
    position: relative;
    display: block;
    overflow: hidden;
}

.items .icons {
    position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}

.items .icons i {
    color: #fff;
    font-size: 20px;
    margin-top: 9px;
}

.items a {
    width: 40px;
    height: 40px;
    background-color: #f1a897;
    position: relative;
    display: inline-block;

    -webkit-transition: all 0.2s linear, 0.3s;
    -moz-transition: all 0.2s linear, 0.3s;
    -o-transition: all 0.2s linear, 0.3s;
    -ms-transition: all 0.2s linear, 0.3s;
    -transition: all 0.2s linear, 0.3s;

}

.items .imageOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left:0px;
    top: 0px;
    opacity:0;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
    opacity: 1;
}

.items .openButton {    
    float: left;
    left: -200px;
}

.items .projectLink{
    float: right;
    right: -200px;
}

.items .item:hover .openButton{
    left: 0px;
}

.items .item:hover .projectLink {
    right: 0px;
}


.items .item:hover img {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -transform: scale(1.05, 1.05);
}

.items {
    padding: 0;
}

.copyrightSection{
    background-color: #636e72;
    color: #fff;
    padding: 30px 5px;
}

.copyrightSection p{
    margin:0;
}

#navigation {
    background-color: #7fd6d6;
    padding: 15px 25px;
    z-index: 100;
    width: 100%;
}

#navigation li {
    padding: 0 10px;
}

#navigation li a {
    color: #fff;
}

.navbar-brand,
.navbar-brand:hover {
    color: #fff;
}

.navbar-toggler-icon {
    background: url(../img/Icons/menu.png);
    background-size: 100%;
}

.fixedNav #navigation {
    position: fixed;
    top: 0;
}

.loader {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.loader .inner{
    width: 100%;
    height: 100%;
    background: url(../IMG/Icons/preloadernew.gif) center center no-repeat;
}